# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
classes
logs
saves
resourcepacks
mods
config
crash-reports
options.txt
usercache.json
usernamecache.json
